name: wave_animation
description: A customizable wave animation widget for Flutter with null-safe options. Create beautiful, animated waves with multiple layers, gradient colors, and motion patterns.
version: 1.0.4
homepage: https://github.com/Rasel2510/wave_animation
repository: https://github.com/Rasel2510/wave_animation
issue_tracker: https://github.com/Rasel2510/wave_animation/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0