name: wave_animation
description: A customizable wave animation widget for Flutter with null-safe options.
version: 1.0.0
publish_to: 'https://pub.dev'
homepage: https://github.com/Rasel2510/wave_animation

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
